h2{
    color:white;
    background-color: dodgerblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    color:gray;
    border-radius:2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#container {
    height: 450px;
    width: 200px;
    padding: 10px;
    border: 2px solid dodgerblue;
    border-radius: 30px;
    margin: 0; 
  }


  input{

    height: 32px;
    width: 140px;
    text-align: center;
 
  }

  .header{
      background-color: blue;
  }
  .main {
    margin-left: 5px;
  }
  .counter {
    width: 70px;
    height: 30px;  
    border-radius: 0px !important;
    text-align: center;
  }
  .minus {
    height: 40px;
    width: 30px;
    margin-bottom: 10px;  
    margin-left: -4px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  } 
  .plus {
    height: 40px;
    width: 30px;
    border-radius: 5px;
    margin-bottom: 10px;  
    margin-right: -4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  #billAmt
  {
    width: 200px;
    height: 25px;
    border-radius: 10px;

  }


  