h2{
    color:white;
    background: dodgerblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:  10px;
    font-size: 23px;
    text-align: center;
    margin: -10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#container {
    height: 500px;
    width: 200px;
    padding: 10px;
    border: 2px solid dodgerblue;
    border-radius: 10px;
    margin: 0; 
  }


  input{

    height: 32px;
    width: 140px;
    text-align: center;
    margin-top: -30px;
 
  }

  .header{
      background-color: blue;
  }
  .main {
    margin-left: 5px;
  }
  .counter {
    width: 70px;
    height: 30px;  
    border-radius: 0px !important;
    text-align: center;
  }
  .minus {
    height: 40px;
    width: 32px;
    margin-bottom: 10px;  
    margin-left: -4px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  } 
  .plus {
    height: 40px;
    width: 32px;
    border-radius: 5px;
    margin-bottom: 10px;  
    margin-right: -4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  #billAmt
  {
    width: 200px;
    height: 25px;
    border-radius: 10px;
    margin-top: -14px;
  }

.tipPp
{
  font-weight: bold;
  font-size: 30px;
  margin-top: -30px;

}

.pp
{
font-weight: normal;
margin-top: -35px;
}

.totalPp{
  font-weight: bold;
  font-size: 30px;
  margin-top: -10px;
}

#fullAmt
{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: -10px;
}

#tots{
  text-align: right;
}
  